{% extends '::base.html.twig' %}
{% block title %}Registration Form{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
<div class="content" style="margin-top: 60px;">

        {{ form(form) }}


</div>
{% endblock %}
