{% extends '::base.html.twig' %}
{% block title %}api Form{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
    <div class="content" style="margin-top: 60px;">
        <form id="myform" action="" method="POST"
                {{ form_enctype(form) }}>
            <center>
            Email:
            {{ form_widget(form.email) }}
            Password:
            {{ form_widget(form.plainPassword) }}
                <input type="submit" id="formsub" value="Save" class="btn"/>
            </center>
        </form>

    </div>
{% endblock %}