{% extends '::base.html.twig' %}
{% block title %}mcoupon Form{% endblock %}
{% block body %}
<div class="content" style="margin-top: 60px;">
    {% for item in name %}

    {{ item.val() }}
    {% endfor %}
    Form Saved Pass generated
</div>
{% endblock %}
